*{margin:0;
}

#formR{
    text-align:center;
background-image:linear-gradient(#8098ff,#303960);
    width:100%;
    height:100vh;
    font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Source Sans Pro', sans-serif;
}
#formR h1{
    padding-top:30px;
    padding-bottom:70px;
    font-size:50px;
}
#formR input{
    display:block;
    margin-top:40px;
    margin-left:12%;
    height:30px;
    border-radius:10px;
    width:300px;
    padding-left:3px;
}
#formR submit{
    display:block; 
    margin-top:70px;
}
#formR submit button{
    width:200px;
    height:70px;
    border-radius:15px;
    background-image:linear-gradient(to right,#285460,#15357c);
    border:none;
    font-size:30px;    font-weight:bolder;
    margin-bottom:10px;
    color:white;
}